---
import { Footer, Navbar } from "@layouts";
import ThemeInit from "@shared/ThemeInit.astro";
import Head from "./Head.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalUrl?: string;
  noindex?: boolean;
}

const { title, description, image, canonicalUrl, noindex } = Astro.props;
---

<html lang="pt-BR">
  <ThemeInit />
  <Head
    title={title}
    description={description}
    image={image}
    canonicalUrl={canonicalUrl}
    noindex={noindex}
  />

  <body>
    <Navbar transition:persist="navbar" />
    <main class="relative z-1 flex flex-1 flex-col pt-16 md:pt-20">
      <slot
        id="page-content"
        transition:name="page-content"
        transition:animate="slide"
      />
    </main>
    <Footer />
  </body>
</html>
